<!doctype html>
<html lang="en" th:replace="~{user_base::Layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title th:text="${title}"></title>
</head>
<body>
	<section>
		<div class="container col-md-8 offset-md-2 mr-2">
			<div class="card">
				<div class="card-body" th:if="${currentUser}">
					<h2 class="text-center mb-4" style="text-decoration: underline;">Change Password</h2>
					<div class="container-fluid mt-1 text-center">
						<div class="row">
							<div class="col my-5">
								<form th:action="@{/user/changePasswordHandler}" method="POST">
									<input type="password" required name="old-password" class="form-control mb-4" style="border: 1px solid black;" placeholder="Enter Old Password"/>
									<input type="password" required name="new-password" class="form-control mb-4" style="border: 1px solid black;" placeholder="Enter New Password"/>
									<button type="submit" class="btn bg-primary text-white mt-2">Change</button>
								</form>						
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- SCRIPT TO MAKE LINK ACTIVE -->
		<script>
			$(document).ready(() =>
			{
				$(".item").removeClass("active-link");
				$("#change-password-link").addClass("active-link");
			});
		</script>
	</section>
</body>
</html>